/* sass */
$rem:40;

/* reset */
body,ul,input,h3{
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
}

a {
  //取消a标签手指按下时出现的黑色遮罩层
  -webkit-tap-highlight-color:transparent;
  text-decoration: none;
  color:#818788;
}


input {
  //取消input默认圆角
  -webkit-appearance:none;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 20rem/$rem;
  font-family: Arial,Helvetica,STHeiTi,sans-serif;
}


/* public */
.clearfix {
  content:'';
  display:table;
  clear:both;
}


/* 主体部分 */
.header-box {
  width: 100%;
  height: 74rem/$rem;
  background: #fabc09;
  position: fixed;
  .btn-type {
    float: left;
    width: 78rem/$rem;
    height: 74rem/$rem;
    background: url(../img/ico-type.jpg) no-repeat 22rem/$rem 10rem/$rem;
    background-size: 33rem/$rem 55rem/$rem;
  }
  .search-box {
    float: left;
    width: 480rem/$rem;
    height: 74rem/$rem;
    .search-form {
      padding-top: 14rem/$rem;
      height: 50rem/$rem;
      position: relative;
      .ico-search {
        position: absolute;
        left:16rem/$rem;
        top:25rem/$rem;
        width: 22rem/$rem;
        height: 23rem/$rem;
        background: url(../img/ico-search.jpg) no-repeat;
        background-size: 22rem/$rem 23rem/$rem;
      }
      .search-input {
        float: left;
        width: 480rem/$rem;
        height: 50rem/$rem;
        background: #d5dba9;
        border-radius: 6rem/$rem;
        padding-left: 51rem/$rem;
        box-sizing: border-box;
        font-size: 20rem/$rem;
      }
    }
  }
  .shop-car {
    float: left;
    width: 82rem/$rem;
    height: 74rem/$rem;
    background: url(../img/ico-shopCar.jpg) no-repeat 17rem/$rem 8rem/$rem;
    background-size: 50rem/$rem 56rem/$rem;
  }
}

.wrap {
  width: 100%;
  padding-top:74rem/$rem;

}

.banner {
  width: 100%;
  height: 272rem/$rem;
  img {
    width: 100%;
  }
}

.nav {
  width: 100%;
  padding: 18rem/$rem 0 2rem/$rem 0;
  box-sizing: border-box;
  background: #cce3d1;
  border-top: 1px solid #acd3b3;
  .nav-item {
    float: left;
    width:20%;
    height:114rem/$rem;
    text-align: center;
    margin-bottom: 8rem/$rem;
    img {
      width: 68rem/$rem;
      height: 70rem/$rem;
    }
    .nav-title {
      display: block;
      font-weight: normal;
      line-height: 44rem/$rem;
    }
  }
}

.suning-tt {
  width: 100%;
  height: 87rem/$rem;
  background:#cce3d1;
  border-top: 2px solid #acd3b3;
  .tt-title {
    float: left;
    width: 139rem/$rem;
    height: 87rem/$rem;
    background: url(../img/ico-tt.jpg) no-repeat 0 22rem/$rem;
    background-size: 124rem/$rem 41rem/$rem;
  }
  .tt-line {
    float: left;
    width: 1px;
    height: 33rem/$rem;
    background: #97c1a0;
    margin-top: 27rem/$rem;
  }
  .tt-list {
    float: left;
    width: 430rem/$rem;
    height: 87rem/$rem;
    padding-top: 14rem/$rem;
    box-sizing: border-box;
    margin-left: 32rem/$rem;
    .item{
      display: block;
      line-height: 28rem/$rem;
      background: url(../img/ico-list.jpg) no-repeat 0 12rem/$rem;
      background-size: 6rem/$rem 6rem/$rem;
      text-indent: 17rem/$rem;
    }
  }
}

.shoping-type {
  border-top: 19px solid #acd3b3;
  .type-top {
    height: 248rem/$rem;
    overflow: hidden;
    a {
      float: left;
    }
    .big-img {
      width:319rem/$rem;
      height: 248rem/$rem;
      margin-right: 1px;
      img {
        width:319rem/$rem;
        height: 248rem/$rem;
      }
    }
    .sub-img {
      width:319rem/$rem;
      height: 123rem/$rem;
      margin-bottom: 1px;
      img {
        width:319rem/$rem;
        height: 123rem/$rem;
      }
    }
  }
  .bottom-item {
    margin: 0 1px 1px 0;
    float: left;
    width: 159rem/$rem;
    height: 257rem/$rem;
    img {
      width: 159rem/$rem;
      height: 257rem/$rem;
    }
  }
}

.suning-qg {
  width: 100%;
  height: 257rem/$rem;
  background: #cce3d1;
  border-top: 33px solid #acd3b3;
  padding-left: 16rem/$rem;
  box-sizing: border-box;
  .head {
    width: 100%;
    height: 54rem/$rem;
    .head-left {
      float: left;
      .title {
        float: left;
        width: 116rem/$rem;
        height: 40rem/$rem;
        margin-right: 16rem/$rem;
        background: url(../img/title-qg.jpg) no-repeat;
        background-size: 116rem/$rem 40rem/$rem;
      }
      .time-box {
        float: left;
        padding-top: 14rem/$rem;
          .time-name {
            float: left;
            font-size: 18rem/$rem;
            color:#f94f4e;
          }
          .update-time {
            float: left;
            .time-item {
              float: left;
              width: 20rem/$rem;
              height: 20rem/$rem;
              border:1px solid #809474;
              border-radius: 4rem/$rem;
              text-align: center;
              line-height: 20rem/$rem;
              color:#383938;
              margin: 0 8rem/$rem;
            }
            .time-ico {
              float: left;
            }
            .tips {
              color:#ff3739;
              border-color:#ff3739;
            }
          }
      }
    }
    .head-right {
        float: right;
        padding: 11rem/$rem 20rem/$rem 0 0;
        .more {
          float: left;
          width: 104rem/$rem;
          height: 29rem/$rem;
          line-height: 29rem/$rem;
          font-size: 18rem/$rem;
          text-align: center;
          background: #ffc001;
          border-radius: 12rem/$rem;
          color:#456c23;
          margin-right: 2rem/$rem;
        }
        .ico-more {
            float: left;
            width: 15rem/$rem;
            height: 25rem/$rem;
            background: url(../img/ico-sj.jpg) no-repeat;
            background-size: 100%;
        }
    }

  }
  .shoping-box {
    width: 100%;
    overflow: hidden;
    .shoping-list {
      width: 200%;
      .list-item {
        width: 190rem/$rem;
        float: left;
        margin-right: 8rem/$rem;
        .item-img {
          width: 188rem/$rem;
          border:1rem/$rem solid #b2cdb1;
          display: block;
          width: 100%;
        }
        .item-bottom {
          width: 100%;
          height: 57rem/$rem;
          padding-left: 16rem/$rem;
          background: #ddd;
          box-sizing: border-box;
          position: relative;
          .price {
            display: block;
            color:#dc0000;
            line-height: 28rem/$rem;
          }
          .oldprice {
            display: block;
            font-size: 16rem/$rem;
            color:#999;
            line-height: 24rem/$rem;
          }
          .zhekou {
            width:61rem/$rem;
            height: 61rem/$rem;
            background: url(../img/ico-zhekou.jpg) no-repeat ;
            background-size: 100%;
            padding-top: 10rem/$rem;
            box-sizing: border-box;
            position: absolute;
            right: 6rem/$rem;
            top: -6rem/$rem;
            color:#fff;
            text-align: center;
            .big-font {
              font-size: 22rem/$rem;
              span {
                font-size: 18rem/$rem;
              }
            }
          }
        }
      }
    }
  }

}
